* {
    font-family: Verdana, Tahoma, sans-serif;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 768px;
}

.navbar{
    margin: 0;
    background: #333;
}

.navbar__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar__list--item {
    /* float: left; */
    padding: 10px;
}

.navbar__link {
    display: block;
    text-decoration: none;
    color: orangered;
    padding: 10px;
    text-align: center;
}

.navbar__link:hover {
    background-color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 1rem;
}

.navbar::after  {
    content: '';
    display: block;
    clear: both;

}

.home_section {
    background: #333;
    text-align: center;
    border-bottom: 5px solid orangered;
    border-radius: 2rem;
    color: orangered;
}

.home_section h1 {
    font-size: 30px;
    font-weight: 700;
}

.home_section p {
    padding: 10px;
    color: #fff;
}

@media screen and (min-width: 500px) {
    .navbar__list {
        display: flex;
        justify-content: flex-start;
    }

    .navbar__list--item  {
        flex: 1 1 0;
    }
}